jwt:
  secret-key: ${JWT_SECRET_KEY}
  token:
    expired-time-ms: ${JWT_EXP_TIME_MS}

spring:
  kafka:
    producer:
      bootstrap-servers: ${KAFKA_SERVER}
    consumer:
      bootstrap-servers: ${KAFKA_SERVER}
      auto-offset-reset: latest
    bootstrap-servers: ${KAFKA_SERVER}
  datasource:
    driver-class-name: ${DB_DRIVER}
    url: ${DB_URL}
    username: ${USERNAME}
    password: ${PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true
    database-platform: ${DB_PLATFORM}

cloud:
  aws:
    s3:
      profile-bucket: ${BUCKET}
    credentials:
      access-key: ${AWS_S3_ACCESS_KEY}
      secret-key: ${AWS_S3_SECRET_KEY}
    region:
      static: ${REGION}
      auto: false
    stack:
      auto: false
